.search-form-mobile {
  overflow: hidden;
  border-radius: 5px;
  display: none;

  &.show {
    animation: .95s ease 0s normal forwards 1 running showMobileFormSearch;
    display: block;
  }

  form {
    .search-field {
      background: #6475a7;
      border: 0;
      border-radius: 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #fff;
      font-size: 15px;
      height: 40px;
      line-height: normal;
      outline: 0;
      padding: 0 45px 0 24px;

      &::placeholder {
        color: #ffffff;
      }
    }

    button.search-submit {
      height: 40px;
      width: 40px;
      line-height: 1;
    }
  }
}

.search-form-offcanvas {
  width: 100%;
  max-width: 450px;
  transform: translateX(-50%);
  margin-top: -30px;
}
.searchform-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #ddd;

  input[type="text"] {
    border: 0;
    flex: 1;
    height: 52px;
    font-size: 24px;
  }

  button[type="submit"] {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 24px;
  }
}