ul.primary-menu-nav {
  padding-left: 0;

  &>li {
    list-style: none;
    display: inline-block;
    margin: 0 22px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &.current_page_item, &.current-menu-item {
      & > a {
        &::before {
          opacity: 1;
          width: 100%;
        }
      }
    }

    &>a {
      font-weight: 500;
      font-family: roboto, sans-serif;
      line-height: 67px;
      color: $light-color;
      position: relative;
      display: block;

      &::before {
        content: "";
        height: 4px;
        background-color: #8cd102;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        -webkit-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        -khtml-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        -moz-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        -ms-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        -o-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        opacity: 0;
        width: 0;
      }
    }

    &.menu-item-has-children {
      &>a {
        &::after {
          content: "+";
          margin-left: 5px;
          display: inline-block;
          vertical-align: top;
          position: relative;
          top: 1px;
          color: #8cd102;
        }
      }
    }

    // hover shob sub menu

    &:hover {
      &>.sub-menu {
        visibility: visible;
        opacity: 1;
        clip: inherit;
        -webkit-transform: scaleY(1);
        -khtml-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
  }

  .sub-menu {
    position: absolute;
    background: #fff;
    padding: 26px 0;
    top: 100%;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 230px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 8px 63px rgba(58, 66, 104, 0.14);
    -khtml-box-shadow: 0 8px 63px rgba(58, 66, 104, 0.14);
    -moz-box-shadow: 0 8px 63px rgba(58, 66, 104, 0.14);
    -ms-box-shadow: 0 8px 63px rgba(58, 66, 104, 0.14);
    -o-box-shadow: 0 8px 63px rgba(58, 66, 104, 0.14);
    box-shadow: 0 8px 63px rgba(58, 66, 104, 0.14);
    -webkit-transition: all 220ms linear 0ms;
    -khtml-transition: all 220ms linear 0ms;
    -moz-transition: all 220ms linear 0ms;
    -ms-transition: all 220ms linear 0ms;
    -o-transition: all 220ms linear 0ms;
    transition: all 220ms linear 0ms;
    -webkit-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-transform: scaleY(0);
    -khtml-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;

    li {
      padding: 0 32px;
      white-space: nowrap;
      position: relative;
      list-style: none;

      &:last-child {
        a {
          border: none;
        }
      }

      a {
        position: relative;
        font-size: 14px;
        font-family: $second-font-family;
        font-weight: 500;
        display: block;
        line-height: normal;
        padding: 9px 0;
        border-bottom: 1px solid rgba(58, 66, 104, 0.11);

        &::before {
          content: "";
          width: 10px;
          height: 2px;
          background-color: $primary-color;
          position: absolute;
          top: 50%;
          left: -10px;
          -webkit-transform: translate(0, -50%);
          -khtml-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
          opacity: 0;
          -webkit-transition: all 220ms linear 0ms;
          -khtml-transition: all 220ms linear 0ms;
          -moz-transition: all 220ms linear 0ms;
          -ms-transition: all 220ms linear 0ms;
          -o-transition: all 220ms linear 0ms;
          transition: all 220ms linear 0ms;
        }
      }

      &:hover,
      &.current-menu-item {
        &>a {
          padding-left: 18px;
          color: $primary-color;

          &::before {
            opacity: 1;
            left: 0;
          }
        }

        .sub-menu {
          visibility: visible;
          opacity: 1;
          clip: inherit;
          -webkit-transform: scaleY(1);
          -khtml-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -ms-transform: scaleY(1);
          -o-transform: scaleY(1);
          transform: scaleY(1);
        }
      }

      &.menu-item-has-children {
        &>a {
          &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 320 512'%3E%3Cpath d='M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z'/%3E%3C/svg%3E");
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%) scale(.7);
            -khtml-transform: translate(0, -50%) scale(.7);
            -moz-transform: translate(0, -50%) scale(.7);
            -ms-transform: translate(0, -50%) scale(.7);
            -o-transform: translate(0, -50%) scale(.7);
            transform: translate(0, -50%) scale(.7);
          }
        }
      }
    }

    .sub-menu {
      top: 0;
      left: 100%;
      -webkit-border-radius: 0 3px 3px 3px;
      -khtml-border-radius: 0 3px 3px 3px;
      -moz-border-radius: 0 3px 3px 3px;
      -ms-border-radius: 0 3px 3px 3px;
      -o-border-radius: 0 3px 3px 3px;
      border-radius: 0 3px 3px 3px;
    }
  }
}

ul.primary-mobile-menu-nav {
  margin: 0;
  padding: 0;

  a {
    display: block;

    i {
      position: absolute;
      top: 10px;
      height: 30px;
      right: 0;
      border: 1px solid #ebebeb;
      width: 30px;
      cursor: pointer;
      border-radius: 3px;
      text-align: center;
      line-height: 30px;
      font-size: 11px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  &>li {

    &.menu-item-has-children {
      &>ul {
        padding-top: 9px;
        padding-bottom: 9px;
        border-bottom: 1px solid #ebebeb;
      }
    }

    &>a {
      display: block;
      padding: 0;
      line-height: 50px;
      color: #3a4268;
      font-family: poppins, sans-serif;
      font-size: 15px;
      font-weight: 600;
      border-bottom: 1px solid #ebebeb;
      position: relative;
    }
  }

  .sub-menu {
    display: none;
    
    a {
      padding: 0 0 0 10px;
      line-height: 34px;
      font-weight: 500;
      font-size: 14px;
      border: none;
      font-family: poppins,sans-serif;
      color: rgb(58, 66, 104);
      position: relative;
      i {
        top: 2px;
      }
    }

    .sub-menu {
      a {
        padding: 0 0 0 20px;
      }
    }
  }
}