.header-middle, .header-main {
  .row {
    align-items: center;
    flex-wrap: nowrap;

    &>* {
      width: auto;
    }
  }

  .header-branding {
    flex-grow: 1;
    margin: 9px 15px 8px 0;
    position: relative;
    opacity: 1;

    img {
      max-height: 50px;
      max-width: max-content;
      -webkit-transition: all 300ms linear 0ms;
      -khtml-transition: all 300ms linear 0ms;
      -moz-transition: all 300ms linear 0ms;
      -ms-transition: all 300ms linear 0ms;
      -o-transition: all 300ms linear 0ms;
      transition: all 300ms linear 0ms;
    }

    a {
      color: $primary-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }
}

.header-middle {
  border-bottom: 1px solid #ececec;
  padding: 0;

  .header-branding {
    padding: 15px 15px 15px 0;
  }

  .header-holder {
    padding: 0 15px;
    display: flex;

    .middle-item {
      padding: 0 27px;
      display: flex;
      flex-wrap: nowrap;
      position: relative;

      &::before {
        content: "";
        width: 0;
        border-right: 2px dashed #bfcaed;
        height: 33px;
        -webkit-transform: translate(0, -50%);
        -khtml-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: -1px;
        top: 50%;
        position: absolute;
      }

      &:last-child {
        padding-right: 0;

        &::before {
          display: none;
        }
      }

      &:hover {
        .middle-icon {
          animation: icon-bounce 800ms ease-out infinite;
          -webkit-animation: icon-bounce 800ms ease-out infinite;
        }
      }

      .middle-icon {
        font-size: 32px;
        color: $primary-color;

        line-height: 1;
        margin-right: 10px;
        -webkit-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        -khtml-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        -moz-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        -ms-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        -o-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
        transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
      }

      .middle-meta {
        margin-top: -6px;

        label {
          color: #5a5a5a;
          font-size: 13px;
          line-height: 22px;
          display: block;
          margin-bottom: 2px;
        }

        span {
          font-family: $second-font-family;
          font-size: 19px;
          line-height: 1;
          font-weight: 700;
          color: $dark-color;
          display: block;
          letter-spacing: -0.01em;
        }
      }
    }
  }

  .middle-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
}

.header-main {
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  -khtml-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  background-color: $primary-color;

  .header-branding {
    display: none;
  }

  &.scroll-down {
    -webkit-box-shadow: 0 3px 18px rgba(2, 21, 78, 9%);
    -khtml-box-shadow: 0 3px 18px rgba(2, 21, 78, 9%);
    -moz-box-shadow: 0 3px 18px rgba(2, 21, 78, 9%);
    -ms-box-shadow: 0 3px 18px rgba(2, 21, 78, 9%);
    -o-box-shadow: 0 3px 18px rgba(2, 21, 78, 9%);
    box-shadow: 0 3px 18px rgba(2, 21, 78, 9%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    right: 0;
    -webkit-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    -khtml-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    -moz-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    -ms-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    -o-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;

    .header-branding {
      display: block;
      min-width: 160px;

      a {
        color: $light-color;
      }
    }
  }

  .header-navigation {
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
  }

  .header-meta {
    position: relative;
    margin-left: -4px;
    padding-left: 26px;

    &::before {
      content: "";
      width: 1px;
      height: 19px;
      background-color: #d9d9d9;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -khtml-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }

    i {
      color: $light-grey;
    }
  }

  .header-social {
    flex-grow: 1;
    padding: 0 3px;
    text-align: right;

    a {
      height: 39px;
      width: 39px;
      font-weight: 400;
      display: inline-block;
      line-height: 39px;
      text-align: center;
      font-size: 16px;
      color: $light-grey;
      position: relative;
      z-index: 1;
    }
  }
}

// Cuystom nobiel nav
.mobile-top-nav {
  z-index: 999;
  background-color: $primary-color;
  padding: 5px 15px;
  -webkit-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  -khtml-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  -moz-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  -ms-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  -o-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);

  .row {
    height: 50px;
  }

  .mobile-logo {
    &>a {
      display: inline-block;
      text-align: center;
    }

    img {
      max-height: 40px;
      width: auto;
    }
  }
}

.admin-bar {

  .scroll-down,
  .offcanvas.offcanvas-top {
    top: 32px;
  }
}