.woocommerce-account {
  .woocommerce-info {
    .button.wc-forward {
      padding: 0;
      margin: 0;
      line-height: initial;
      color: #000;
      background-color: transparent;
    }
  }

  div.woocommerce {
    display: flex;
    .woocommerce-MyAccount-navigation {
      float: none;
      width: 25%;
      padding-bottom: 100px;
      padding-left: 0;
      padding-right: 30px;

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
        }
      }
    }
    .woocommerce-MyAccount-content {
      float: none;
      flex: 1;
    }
  }

  .woocommerce-MyAccount-navigation {
    ul {
      li.woocommerce-MyAccount-navigation-link {
        a {
          display: block;
          font-weight: normal;
          text-align: left;
          box-shadow: none;
          outline: 0;
          margin: 0;
          cursor: pointer;
          padding: 9px 10px 10px 25px;
          color: #6b6b6b;
          background: #f5f5f5;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          margin-bottom: 8px;
        }

        &:hover, &.is-active {
          a {
            background: $primary-color;
          color: $light-color;
          border-color: transparent;
          border-bottom-color: #fff;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    div.woocommerce {
      display: block;
      .woocommerce-MyAccount-navigation {
        width: 100%;
        padding: 0 0 15px 0;
      }
      .woocommerce-MyAccount-content {
        width: 100%;
      }
    }
  }
}