.woocommerce {
  table.shop_table {
    @apply border-none border-spacing-0;

    tr {
      @apply !table-row;
    }

    th {
      @apply border-none text-sm uppercase font-medium px-0 py-3;
    }

    td {
      @apply font-normal text-base py-[20px] px-0 text-left !table-cell !bg-transparent !border-t !border-solid !border-gray-200;

      &::before {
        @apply hidden;
      }

      &:first-child {
        @apply !border-t;
      }
    }

    .product-price {
      @apply !hidden md:!table-cell;
      del {
        @apply mr-2 text-slate-500;
      }

      ins {
        text-decoration: none;
      }
    }

    .product-thumbnail {
      @apply w-[100px] md:w-[140px];

      img {
        @apply w-20 md:w-24;
      }
    }

    .product-name {
      @apply !text-left text-sm md:text-base;

      .price {
        @apply text-gray-400 md:hidden;
      }

      .remove {
        @apply text-red-500 font-normal text-sm block h-5 md:hidden;

        &::after, &::before {
          @apply hidden;
        }
      }
    }

    .product-quantity {
      @apply w-20 md:w-auto;

      .minus, .plus {
        @apply p-0 md:p-1;
      }

      .quantity {
        @apply p-0 md:p-2 border-0 md:!border;

        .qty {
          @apply !w-[30px] md:!w-16;
        }
      }
    }

    .product-subtotal {
      @apply !hidden md:!table-cell;
    }

    .product-remove {
      @apply text-right !hidden md:!table-cell;
    }
  }
}

.wishlist_table {
  tr td.product-thumbnail a {
    @apply max-w-[96px];
  }

  .product-add-to-cart {
    @apply !text-right;

    a {
      @apply !m-0 !inline-block;
    }
  }

  .product-remove {
    @apply !text-left;
  }
}

.wishlist_table .product-add-to-cart a {
  @apply bg-slate-900 text-white font-medium min-w-[200px] leading-[60px] relative m-0;

  &.loading {
    &::after {
      font-family: WooCommerce;
      content: "\e01c";
      vertical-align: top;
      font-weight: 400;
      position: absolute;
      top: 0;
      right: 1em;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
  }

  &.added {
    &::after {
      font-family: WooCommerce;
      content: "\e017";
      margin-left: 0.53em;
      vertical-align: bottom;
    }
  }
}