.woocommerce {
  a.remove {
    position: relative;
    background: transparent !important;
    display: inline-block;
    vertical-align: middle;

    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background: #9E9E9E;
      top: calc(50% - 2px);
      left: 0;
      transition: all 0.3s ease;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &:hover {

      &::after,
      &::before {
        background: #333;
      }
    }
  }
}