#menu-main-menu {
  &>li {
    @apply mr-7 relative;

    &>a {
      @apply text-sm pb-[3px] font-medium;

      &::after {
        content: "";
        border-bottom: solid 2px #000;
        height: 2px;
        width: 0;
        display: block;
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    &.current-menu-item {
      &>a {
        &::after {
          content: "";
          border-bottom: solid 2px #000;
          height: 2px;
          width: 100%;
          display: block;
        }
      }
    }

    &:hover {
      .sub-menu {
        display: block
      }
    }

    &>ul.sub-menu {
      @apply hidden absolute bg-white py-[30px] px-0 top-full left-[-40px] min-w-[166px] z-[99] whitespace-nowrap;
      box-shadow: 0 4px 10px 0 rgba(3,3,3,.1);
      transform: translateY(39px);

      a {
        @apply text-xs text-slate-700;
      }

      li {
        @apply block m-0 py-[10px] px-[40px] relative;

        &:hover {
          .sub-menu {
            @apply block;
          }
        }
      }

      .sub-menu {
        @apply hidden bg-white py-[30px] px-0 top-full left-[-40px] min-w-[166px] z-[99] whitespace-nowrap;
        @apply absolute right-0 top-[-30px];
        box-shadow: 0 4px 10px 0 rgba(3,3,3,.1);
        transform: translateX(100%);
      }
    }
  }
}