.woocommerce-checkout {

  .col-1 , .col-2 {
    float: none !important;
  }

  .checkout-login-wrap,
  .checkout-coupon-wrap {
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 25px;
    padding: 23px 24px;

    .woocommerce-info {
      border: none;
      background-color: transparent;
      text-align: center;
      font-weight: 600;
      color: $color-text;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0;
      padding: 0;

      a {
        font-weight: 400;
        font-size: 16px;
        position: relative;
        margin-top: 16px;
        text-decoration: underline;
      }
    }
  }

  ul.wc_payment_methods {
    padding-left: 0;

    li.wc_payment_method {
      border: 1px solid #d0d0d0;
      padding: 24px 22px 22px 25px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      z-index: 11;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      background: #fff;
    }

    &>li+li {
      margin-top: 9px;
    }
  }

  .payment_box {
    padding: 5px 0px 0px 38px;
    width: 100%;

    &::after {
      content: '';
      background: #fff;
      position: absolute;
      left: -1px;
      top: -1px;
      right: auto;
      width: calc(100% - -2px);
      height: calc(100% - -2px);
      z-index: -1;
      -webkit-transition: .35s;
      -o-transition: .35s;
      transition: .35s;
      border: 1px solid $primary-color;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
  }

  .woocommerce-terms-and-conditions-wrapper {
    padding: 40px 0 0;
  }

  #place_order {
    margin-top: 24px;
  }

  /* Thanksyou page */
  .woocommerce-notice.woocommerce-notice--success {
    margin: 0;
    line-height: 31px;
    border: 1px solid $color-accent;
    border-bottom: 0;
    padding: 20px 26px;
    font-size: 17px;
    font-weight: 600;
    color: $color-text;

    &::before {
      content: "\e080";
      font-family: simple-line-icons;
      display: inline-block;
      margin-right: 19px;
      margin-left: 0;
      color: $primary-color;
      font-size: 20px;
    }
  }

  ul.woocommerce-thankyou-order-details {
    border: 1px solid $color-accent;
    border-top: 0;
    padding: 18px 24px 26px;
    display: flex;
    margin-bottom: 30px;

    li {
      list-style: none;
      flex: 1;

      &>strong {
        display: block;
      }
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;

      li {
        padding-bottom: 15px;
      }
    }
  }
}