// 1. Colors
$primary-color: #2f4799;
$secondary-color: #ca6d6f;
$body-color: #666;
$dark-color: #191919;
$light-color: #fff;
$color-text: #121216;
// $color-accent: #ddd;
$border-color: #ddd;

$success-color: #799b5a;
$success-color-light: #c4df9b;
$info-color: #369;
$info-color-light: #d7e8f8;
$warning-color: #ff9801;
$warning-color-light: #fff1d7;
$danger-color: #a94442;
$danger-color-light: #f7e5e5;
$grey-color: #999;
$light-grey: #f1f1f1;
$border-color-light: #eee;
$bg-free-shipping: #ff5742;

// 2. Font-families
$font-family: 'SFU Futura';
$second-font-family: 'Ivy Mode';

// 3. Font-sizes
$body-size: 14;