.count_cart,
.count_wishlist {
  top: -3px;
  right: -11px;
}

.mini-cart-items,
.wishlist-items {
  background-color: $primary-color;
  color: $light-color;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  font-weight: 400;
  content: "";
  top: -2px;
  right: auto;
  left: 7px;
  min-width: 28px;
  padding: 0 6px;
  line-height: 16px;
}

.badge {
  background-color: $primary-color;
  min-width: 20px;
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;
  left: auto;
  padding: 0;
  position: absolute;
}

