.post-card {
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  .entry-thumb {
    img {
      aspect-ratio: 3/2;
      object-fit: cover;
      width: 100%;
    }
  }
}

.entry-header {
  padding-top: 12px;

  .entry-category {
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 14px;
    display: block;
    color: #888;

    margin-top: 0;
    line-height: 27px;
    list-style: none;
    font-size: 15px;

    position: relative;

    ul {
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
      }
    }

    a {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      color: #888;

      &+a {
        margin-left: 4px;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }

  .entry-title {
    margin: 0 0 24px;
    word-wrap: break-word;
    line-height: 18px;

    display: inline-block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    letter-spacing: 0;
    overflow: hidden;

    a {
      font-size: 28px;
      line-height: 36px;
      word-break: break-word;
      font-family: $second-font-family;
      font-weight: 500;
    }
  }

  .entry-meta-list {
    color: #888;
    margin: 0 0 8px;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;

    padding-bottom: 15px;
    margin-bottom: 0;

    i {
      font-size: 22px;
      line-height: 20px;
      margin-right: 6px;
      margin-left: 0;
      color: $primary-color;
      display: inline-block;
      vertical-align: middle;
    }

    &>li {
      margin-right: 0;

      list-style: none;
      padding: 0;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 0;
      align-items: center;
      font-size: 14px;
      line-height: 20px;

      &.entry-author>a {
        text-transform: capitalize;
        color: $color-text;
        text-decoration: none;
        display: inline;
        margin-left: 4px;
      }

      &>a {
        span {
          color: #888;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
        }

        &:hover {
          span {
            color: $primary-color;
          }
        }
      }

      &+li {
        margin-left: 8px;
        margin-right: 0;
        padding-left: 19px;
        padding-right: 0;

        &::before {
          content: "";
          width: 10px;
          height: 1px;
          position: absolute;
          top: 50%;
          left: 0;
          right: auto;
          background: #ddd;
          margin-top: 1px;
        }
      }
    }
  }

  .entry-description {
    font-size: 15px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 10px;
    word-break: break-word;

    display: inline-block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    letter-spacing: 0;
    overflow: hidden;
  }

  .readmore {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 21px;
    letter-spacing: .08px;
    margin-top: 12px;
    background-color: $primary-color;
    color: $light-color;
    display: inline-block;
    text-transform: uppercase;

    &:hover {
      background-color: $color-text;
    }
  }

  @include media-breakpoint-down(md) {
    .entry-title {
      a {
        font-size: 22px;
      }
    }

    .entry-meta-list {
      i {
        font-size: 16px
      }

      &>li+li {
        padding-left: 0;
        margin-left: 10px;

        &::before {
          display: none;
        }
      }
    }
  }
}

.post_item_style_2 {
  display: flex;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $border-color;

  .entry-thumb {
    max-width: calc(45% - 6px);
    position: relative;
    margin-bottom: 0;

    // padding-left: 20px;
    padding-right: 20px;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .entry-content {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding-top: 1px;

    padding-left: 20px;
    // padding-right: 20px;
  }

  .entry-header {
    padding-top: 0;
  }

  @include media-breakpoint-down(md) {

    .entry-header {
      padding-top: 16px;
    }

    .entry-thumb {
      max-width: 100%;
      padding-right: 0;
    }

    .entry-content {
      padding-left: 0;
    }

    display: block;
  }
}