ul.primary-menu-nav {
  margin: 0;
  padding: 0;

  .menu-item-has-children {
    &>a::after {
      content: "";
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-family: "tb-icon";
      font-size: 11px;
      line-height: inherit;
      vertical-align: middle;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      display: inline-block;
      margin-left: 10px;
      margin-right: 0;
    }
  }

  &>li.menu-item {
    display: inline-block;
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    &.has-mega-menu-full-width {
      position: static;

      .sub-mega-menu {
        width: 100%;
        left: 0;
      }
    }

    &:first-child {
      &>a {
        margin-left: 0;
        padding-left: 0;
      }
    }

    &.current-menu-item {
      &>a{
        color: $primary-color;
      }
    }

    &>a {
      padding: 30px 8px;
      display: inherit;
      margin: 0 14px;
      line-height: 27px;
      position: relative;
      background: 0 0;
      color: $color-text;
      z-index: 10;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s;
      font-size: 15px;
    }

    &>ul.sub-menu,
    &>.sub-mega-menu {
      opacity: 0;
      visibility: hidden;
    }

    // Submenu style
    ul.sub-menu,
    &>.sub-mega-menu {
      position: absolute;
      z-index: 0;
      background: #fff;
      display: block;
      padding: 25px 0;
      margin: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      width: 100%;
      -webkit-transition: .35s;
      -o-transition: .35s;
      transition: .35s;
      left: 17px;
      right: auto;
      top: 100%;
      list-style: none;
      min-width: 220px;
      border: 1px solid #ddd;

      a {
        display: block;
        width: 100%;
        position: relative;

        &::after {
          right: 0;
          position: absolute;
        }
      }

      li {
        margin: 0;
        line-height: 24px;
        padding: 7px 20px;
        position: relative;

        &>ul.sub-menu {
          position: absolute;
          left: calc(100% - 0px);
          top: -26px;
          transition: all 0.35s ease;

          z-index: 0;
          overflow: hidden;
          opacity: 0;
        }

        &:hover {
          &>a {
            &::after {
              -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              transform: rotate(-90deg);
            }
          }

          &>ul.sub-menu {
            overflow: visible;
            opacity: 1;
            z-index: 99;
          }
        }
      }
    }

    &>.sub-mega-menu {
      width: auto;
    }

    // Hover and show menu
    &:hover {
      &>a {
        color: $primary-color;

        &::after {
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
        }
      }

      &>.sub-menu,
      &>.sub-mega-menu {
        display: block;
        opacity: 1;
        visibility: visible;
        z-index: 1000;
      }
    }
  }
}

.menu-mega-sub-container {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

ul.primary-mobile-menu-nav {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;

  &>li.menu-item {
    list-style: none;
    position: relative;

    &>a {
      line-height: 28px;
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 500;
      padding: 0;
      position: relative;
    }
  }

  a {
    display: block;
    position: relative;

    &::after {
      position: absolute;
      right: 0;
    }
  }

  .arrow-icon {
    position: absolute;
    right: 0;
    top: 0;

    &::after {
      content: "";
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-family: "tb-icon";
      font-size: 9px;
      line-height: inherit;
      vertical-align: middle;

      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;

      display: inline-block;
      margin-left: 10px;
      margin-right: 0;
      color: #888;

      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }

  .sub-menu {
    padding-left: 15px;

    li {
      list-style: none;
    }

    // display: none;
  }
}

/* Footer menu*/
.footer-menu {
  padding: 39px 0 27px;

  .heading-title {
    margin-bottom: 0;
    margin: 0 0 17px;

    .title {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      font-family: $font-family;
    }
  }

  ul.menu-vertical {
    margin: 0;
    padding: 0;

    &>li.menu-item {
      text-align: center;
      list-style: none;
    }

    a {
      font-size: 14px;
      line-height: 30px;
      color: #646464;

      &:hover {
        color: $primary-color;
      }
    }
  }
}