#header {
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.06);
  box-shadow: 0 0 40px rgba(0,0,0,.06);
}

/* Mobile nav */
.mobile-nav {
  transition: all .4s ease-in-out 0s;
  z-index: 99;

  .navbar-device-mobile {
    height: 48px;
    padding: 0 15px;

    i {
      font-size: 24px;
    }
  }

  .bottombar-device-mobile {
    padding: 0 15px;
  }

  .custom-logo-link {
    img {
      padding-left: 5px;
      width: auto;
      height: 38px;
    }

    span {
      letter-spacing: 2px;
      font-size: 16px;
      padding-left: 5px;
      font-weight: 600;
    }
  }

  /* Left mobile area */
  .wishlist-cart {
    i {
      font-size: 20px;
    }
  }

  .mini-cart {
    margin-right: 5px;
  }
}

#header {
  .elementor-widget-latoya-nav {
    position: static;
  }

  .e-parent>.e-con-inner {
    position: relative;
    &>* {
      position: static;
    }
  }
}

.element-sticky-header {
  background-color: #fff;

  &.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9;
    left: 0;
    right: 0;
    border-bottom: 1px solid #f2f2f2;
  }
}

.admin-bar {
  .element-sticky-header {
    &.sticky {
      top: 32px;
    }
  }
}