.offcanvas {
  .offcanvas-close {
    position: absolute;
    top: 18px;
    right: 20px;
    left: auto;
    text-align: center;
    padding: 0;
    z-index: 1111;
    color: $color-text;
    display: block;

    i {
      font-size: 20px;
    }
  }

  .widget-header-cart {
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    background: $light-color;

    h5 {
      font-size: 20px;
      padding-bottom: 10px;
    }

    .header-cart-content {
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
    }
  }

  .widget_shopping_cart_content {
    position: absolute;
    z-index: 2;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0 20px 20px;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    flex-direction: column;
    background-color: $light-color;
  }
}

#offcanvasWishlistAndMiniCart {
  max-width: 90%;

  // If empty cart
  .inner-empty {
    img {
      margin-top: 120px;
    }

    .empty-heading {
      font-size: 14px;
      line-height: 20px;
      color: #6b6b6b;
    }

    .wc-continue {
      color: $primary-color;
      display: block;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      margin-top: 10px;

      i {
        margin: 5px 0 0 7px;
        vertical-align: unset;
        font-size: inherit;
        line-height: 1;
        display: inline-block;
        color: $color-text;
        font-size: 10px;
      }
    }
  }

  .widget_shopping_cart_content {

    .amount {
      color: $primary-color;
      font-weight: 500;
      font-size: 15px;
      margin-left: 5px;
    }
  
    /* Footer Cart */
    .woocommerce-mini-cart__total {
      border-top: 1px solid $border-color;
  
      &>strong {
        font-size: 17px;
        font-weight: 500;
      }
  
      &>span {
        font-size: 20px;
      }
    }
  
    .hide-in-mini-cart {
      display: none;
    }
  }
}

#offcanvasMenu {
  max-width: 88%;
}

#offcanvasSearch {
  height: 100%;
  background-color: #faf9f7;

  .heading {
    position: relative;
  }

  .btn-close {
    right: 0;
    top: 0;
  }

  h5 {
    font-size: 34px;
    line-height: 42px;
    font-family: $second-font-family;
  }

  .offcanvas-body {
    padding: 30px 50px;
  }

  .search-form-wrap {
    margin-top: 60px;
  }
}

#offcanvasShopSidebar {
  position: relative;
  max-width: 100%;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  border-width: 0;

  .offcanvas-body {
    overflow: hidden;
  }

  @include media-breakpoint-down(xl) {
    position: fixed;
    max-width: 90%;
    opacity: 1;
    visibility: hidden;
    transform: translateX(-100%);
    border-width: 1px;
    background-color: $light-color;

    &.show {
      transform: none;
      visibility: visible;
    }

    .offcanvas-body {
      overflow: scroll;
    }
  }
}

#offcanvasRecentlyViewed {
  height: max-content;

  .offcanvas-body {
    padding: 24px 12px;
  }
}