/* Mobile search component */
.search-mobile {

  .loading {
    .button-search {
      &:before {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-animation: spin 2s linear infinite;
        -o-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

        color: var(--tb-button-color, #121216);
      }

      i {
        &::before {
          display: none;
        }
      }
    }
  }

  .button-search {
    padding-left: 16px;

    &::before {
      font-size: 18px;
      position: absolute;
      left: 4px;
      top: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      filter: alpha(opacity=0);
      z-index: 111;

      content: "î";
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-family: "tb-icon";
    }

    i {
      width: 15px;
      display: block;
    }
  }

  .input-group {
    border: 1px solid #d0d0d0;
    padding: 0 10px 0 0;
    margin: 1px 0 5px 0;
  }

  input {
    background-color: transparent;
    line-height: 38px;
    height: 38px;
  }

  i {
    font-size: 15px;
    line-height: 27px;
  }

  .select-category {
    max-width: 50px;
    line-height: 38px;
    height: 38px;
    overflow: hidden;

    select {
      cursor: pointer;
      height: 32px;
      color: #6b6b6b;
      padding: 0 15px;
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      appearance: none;
      margin-right: 0;
      margin-top: 0;
      width: 160px;
    }
  }
}

.search-results-wrapper {
  .search-results {
    width: calc(100% + 2px);
    z-index: 9999;
    left: -1px;
    top: 100%;
    border: solid 1px #ddd;

    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
  }
}

.suggestion-products {

  &>div {
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--tb-border-color, #ddd);

    position: relative;

    padding: 16px 0 15px;
    margin: 0 16px;


    &:last-child {
      border-bottom: none;
    }
  }

  .suggestion-header {
    color: #6b6b6b;
    line-height: 1;
    padding: 23px 0 22px;

    .count {
      margin-right: 5px;
    }

    .keywork {
      margin-left: 5px;
    }
  }

  .suggestion-thumb {
    display: table-cell;
    vertical-align: middle;
    padding-right: 16px;
    padding-left: 0;

    img {
      max-width: 64px;
      aspect-ratio: 48/64;
      object-fit: cover;
    }
  }

  .suggestion-content {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(100% - 80px);
  }

  .suggestion-title {
    text-align: left;
    color: $color-text;
    font-size: 15px;

    display: inline-block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    letter-spacing: 0;
    overflow: hidden;
  }

  .suggestion-price {
    color: $primary-color;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}