@keyframes circle {
  0% {
    opacity: 1
  }

  40% {
    opacity: 1
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0
  }
}

@-webkit-keyframes fadeInLeftShort {
  from {
      -webkit-transform: translate3d(-20px,0,0);
      transform: translate3d(-20px,0,0)
  }

  to {
      -webkit-transform: none;
      transform: none
  }
}

@keyframes fadeInLeftShort {
  from {
      -webkit-transform: translate3d(-20px,0,0);
      transform: translate3d(-20px,0,0)
  }

  to {
      -webkit-transform: none;
      transform: none
  }
}

@-webkit-keyframes spin {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(1turn)
  }
}
